.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.shareAndDownload
{
  border-color: transparent;
background-color: #f8f8f8;
color: #444;
position: relative;
display: inline-block;
margin: 0;
padding: 0 12px;
min-width: 52px;
min-height: 47px;
border-width: 1px;
border-style: solid;
border-radius: 4px;
vertical-align: top;
text-align: center;
text-overflow: ellipsis;
font-size: 16px;
line-height: 42px;
cursor: pointer;
}
.tabs
{
  background-color:#444 !important;
}

.whiteText
{
  color:#fff !important;
}
.icon_custom
{
  font-size:15px;
padding:0px;
}
.button_custom
{
  border-color: transparent;
background-color: #f8f8f8;
color: #444;
 position: relative;
display: inline-block;
margin: 0;
 padding: 0 12px;
min-width: 40px;
min-height: 40px;
border-width: 1px;
border-style: solid;
border-radius: 4px;
vertical-align: top;
text-align: center;
text-overflow: ellipsis;
 font-size: 16px;
 line-height: 42px;
cursor: pointer;
background-color: #000;
}

.black_color
{
  position: absolute;
  left: 45%;
  top:10%;
  stroke:#444;

}
